// Solid colors
white = #fff
grey-e3 = #eee
grey-da = #dadada
grey-ca = #cacaca 
grey = #333
bluegrey = rgb(113, 116, 158)
yc-orange = #f60

// Gradient colors
gradient-white = rgba(255, 255, 255, 0.95)
gradient-bluegrey = rgba(113, 116, 158, 0.85)